<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>

        <!-- 채팅전체구역 -->
        <div class="chatbox">
            <!-- 채팅내용 목록  -->
            <div class="chatcont">
                <!-- JS에서 HTML 대입되는 자리 -->
            </div>
            <!-- 채팅입력창 , 전송버튼 구역  -->
            <div class="chatbottom">
                <textarea onkeyup="onEnterKey()" class="msg"></textarea>
                <button onclick="onSend()" type="button" >전송</button>
            </div>

            <!-- 이모티콘 , 첨부파일 등등 구역  -->
            <div class="dropdown">
                <button class="emobtn" type="button" data-bs-toggle="dropdown" >
                    <i class="far fa-grin-squint"></i> <!-- 폰트어썸의 아이콘코드 -->
                </button>
                <ul class="dropdown-menu emolistbox">
                    <!-- JS에서 출력되는 구역 -->
                </ul>
            </div>

        </div>


    </div>
    <script src="/js/chat/chat.js"></script>

</body>
</html>