<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>

        <!-- 채팅전체구역 -->
        <div class="chatbox">
            <!-- 채팅내용 목록  -->
            <div class="chatcont">
                <!-- JS에서 HTML 대입되는 자리 -->
            </div>
            <!-- 채팅입력창 , 전송버튼 구역  -->
            <div class="chatbottom">
                <textarea  class="msg"></textarea>
                <button onclick="onSend()" type="button" >전송</button>
            </div>

        </div>

    </div>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/chat/openai.js"></script>

</body>
</html>